# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Công cụ / cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Hệ điều hành
Thumbs.db
.DS_Store
